<li>@Html.ActionLink("Service", "Index", "ServiceMasters")</li>
<li>@Html.ActionLink("Customer", "Index", "CustomerMasters")</li>
<li>@Html.ActionLink("Slot", "Index", "SlotTimeMasters")</li>
<li>@Html.ActionLink("Appointment", "Index", "AppointmentMasters")</li>
<li>@Html.ActionLink("Cancel Appointment", "Index", "AppointmentCancelMasters")</li>
<li>@Html.ActionLink("Process", "Index", "ProcessMasters")</li>
